/* 
#0A285F - Dark blue
#0075BE - Lighter Blue
#D5A100 - Dark Yellow
#FFCC00 - Bright Yellow

*/
/* general body styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFCC00;
}
/* general div styling */
div {
    border: none;
    border-radius: 50px;
    background-color: #0075BE;
    color: white;
}
/* general h1 styling */
h1 {
    text-align: center;
    border: 5px solid #0A285F;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* styles the ul for pokemon list */
.pokedexStyle {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: #0075BE
}

/* styles the buttons of list of pokemon */
.pokemonButtonStyle {
    border: none;
    border-radius: 50px;
    background-color: #D5A100;
    color: #0075BE;
    height: 50px;
    width: 200px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: sticky;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0A285F;
    /* Puts it on the top layer*/
    z-index: 999;
    /* Allow scolling if the screen is not high enough*/
    overflow: auto;
    /* Centres the modal*/
    display: grid;
    text-align: center;
}

.modal {
    margin:auto;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background: #D5A100;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    text-align: left;
  }

.modal-close {
    float: none;
    padding: 20px;
    margin: auto;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }

.modal h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
  }
  
.modal p {
    text-align: left;
    margin-bottom: 0;
  }

.modal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
  
.nameStyle {
    text-transform: capitalize;
}

